h1 {
    color: coral;
    font-style: italic;
    font-size: xx-large;
    text-align: center;
    height: 15px;
}

.linkjobs:hover{
background-color: coral;
color: black;
}

.linkedu:hover{
    background-color: coral;
color: black;
}

.linkedin:hover{
    background-color: coral;
color: black;
}

img {
    width: 300px;
    border: 5px solid darkorchid;
    padding: 50px, 40px, 50px, 40px;
    display: block;
    margin-left: 10%;
    margin-right: auto;
}



body {
    background-color: aqua;
}

h2 {
    color: fuchsia;
    font-style: oblique;
    font-size: xx-large;
    font-family: monospace;
    margin-left: 10%;
    margin-right: auto;
}

.something{
    color: red;
}
.list li{
    font-size: medium;
}
p {
    background-color: chartreuse;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    color: crimson;
   
}

ul {
    font-size: xx-large;
    background-color: chartreuse;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkslateblue;
}

a {
    font-size: xx-large;
    font-style: inherit;
    color: blue;
}

@media screen and (max-width: 1200px){
    h1 {
        font-style: italic;
        font-size: medium;
        text-align: left;
        height: 10px;
    }
    h2 {
        font-style: oblique;
        font-size: medium;
        font-family: monospace;
        margin-left: auto;
        margin-right: auto;
    }
    img {
        width: 100px;
        border: 5px solid darkorchid;
        padding: 2px;
    }
    p {
        font-size: large;
        background-color: aqua;
    }

    .linkjobs{
        font-size: medium;
        color: black;
    }

.linkedu{
    font-size: medium;
    color: black;
}
.linkedin{
    font-size: medium;
    color: black;
}


.wrk{
    font-size: medium;
    color: black;
}
.home{
    font-size: medium;
    color: black;
}
.me{
    color: black;
    font-size: medium;
}

.ti{
    color: darkgoldenrod;
}
.nes{
    color: rgb(141, 10, 91);
    font-style: normal;
}
.shelf{
    color: rgb(55, 7, 133);
    font-style: normal;
}
.hap{
    color: rgb(3, 3, 122);
    font-style: normal;
}
.north{
    color: rgb(11, 34, 77);
    font-style: normal;
}
.resp{
    color: rgb(6, 39, 39);
}
.debt{
    color: darkgreen;
}
.school{
    color: black;
    font-size: medium;
}
ul{
    background-color: aqua;
}
ul li{
    font-size: medium;
    color: crimson;
    background-color: aqua;
}
.title{
    color: darkslategrey;
}
.something{
    color: darkcyan;
}
.list{
    color: chocolate;

}
.sch{
    color: darkmagenta;
    font-style: normal;
}
.pic{
    color: brown;
    font-style: normal;
}
.show{
    color: indigo;
    font-style: normal;
}
}